.font-size-xs {
    font-size: 23px;
}

.font-size-sm {
    font-size: 26px;
}

.font-size-md {
    font-size: 29px;
}

.font-size-lg {
    font-size: 32px;
}

.font-size-xl {
    font-size: 35px;
}

.font-size-xxl {
    font-size: 38px;
}

.button-font-size-xs {
    font-size: 18px;
}

.button-font-size-sm {
    font-size: 19px;
}

.button-font-size-md {
    font-size: 20px;
}

.button-font-size-lg {
    font-size: 21px;
}

.button-font-size-xl {
    font-size: 21px;
}

.button-font-size-xxl {
    font-size: 22px;
}

.header-font-size-xs {
    font-size: 29px;
}

.header-font-size-sm {
    font-size: 32px;
}

.header-font-size-md {
    font-size: 35px;
}

.header-font-size-lg {
    font-size: 38px;
}

.header-font-size-xl {
    font-size: 41px;
}

.header-font-size-xxl {
    font-size: 44px;
}

@font-face {
    font-family: "FiraSans-Regular";
    src: url("@/assets/fonts/FiraSans-Regular.ttf") format("truetype");
}

html {
    font-family: "FiraSans-Regular" !important;
}